

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #211b1b;
    font-family: 'Julius Sans One', sans-serif;
    color: #fafaf0;
}

.row-fluid {
    text-align: center;
}











