

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #211b1b;
    font-family: 'Julius Sans One', sans-serif;
    color: #fafaf0;
}

.row-fluid {
    text-align: center;
}

a.uasc-icon {
	padding-left: 12px;
}

a.uasc-icon span{
	padding-left: 22px;
	background: url("../img/uasc-18.png") no-repeat;
	background-position: 0px 0px;
}

a.uasc-icon span {

}





